<a href="https://colab.research.google.com/github/aarushiwagh/TBInterventionAnalysis/blob/main/TB_RiskDataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import tensorflow as tf
import scipy
import pprint

In [ ]:
age=np.random.randint(18,60,1000)
index=np.arange(0,1000,1)
gender=np.random.choice(2,1000,p=[0.5,0.5])
bmi=np.random.randint(0,4,1000)
edu=np.random.choice(2,1000,p=[0.3,0.7])
smear_culture=np.random.choice(2,1000,p=[0.5,0.5])
xpert=np.random.choice(2,1000,p=[0.2,0.8])
clin_tb=np.random.choice(2,1000,p=[0.8,0.2])

In [ ]:
df=pd.DataFrame({'idx':index,'age':age,'Gender':gender,'bmi':bmi,'edu':edu,'smear_culture':smear_culture,'xpert':xpert,'clin_tb':clin_tb})
df.head(30)

    idx  age  Gender  bmi  edu  smear_culture  xpert  clin_tb
0     0   50       1    0    0              0      1        0
1     1   23       1    2    1              1      1        0
2     2   31       0    3    0              1      1        0
3     3   41       1    1    1              1      1        0
4     4   41       1    2    1              1      1        0
5     5   50       1    2    1              1      1        0
6     6   55       0    3    1              1      1        0
7     7   55       0    3    0              1      1        0
8     8   58       1    3    1              1      1        0
9     9   19       1    0    1              1      1        1
10   10   22       0    3    1              0      1        1
11   11   28       1    3    1              0      1        1
12   12   58       1    3    1              0      1        0
13   13   36       0    3    1              0      1        0
14   14   55       1    1    1              0      0        0
15   15   31       0    2    1              0      1        0
16   16   56       0    1    1              0      1        1
17   17   56       1    0    0              0      1        0
18   18   45       0    2    1              0      1        0
19   19   56       0    3    0              1      1        0
20   20   36       1    0    1              1      0        0
21   21   35       1    0    1              1      0        0
22   22   55       0    0    0              0      1        0
23   23   24       0    3    1              0      1        0
24   24   49       1    3    0              0      1        1
25   25   27       1    2    1              1      1        0
26   26   19       0    3    0              1      1        0
27   27   30       0    0    1              1      1        1
28   28   46       1    1    0              0      1        0
29   29   50       1    0    0              0      0        0

In [ ]:
df.corr()

,idx,age,Gender,bmi,edu,smear_culture,xpert,clin_tb
idx,1.000000,-0.056121,-0.050948,-0.020036,0.014914,-0.007827,-0.008956,0.003739
age,-0.056121,1.000000,0.023558,-0.006370,0.017442,0.003231,-0.056277,-0.006471
Gender,-0.050948,0.023558,1.000000,-0.035351,0.057052,-0.042683,-0.017220,0.016649
bmi,-0.020036,-0.006370,-0.035351,1.000000,-0.037550,0.009305,0.048614,0.006724
edu,0.014914,0.017442,0.057052,-0.037550,1.000000,0.039251,-0.000817,0.028013
smear_culture,-0.007827,0.003231,-0.042683,0.009305,0.039251,1.000000,0.011958,-0.002185
xpert,-0.008956,-0.056277,-0.017220,0.048614,-0.000817,0.011958,1.000000,0.011716
clin_tb,0.003739,-0.006471,0.016649,0.006724,0.028013,-0.002185,0.011716,1.000000

In [ ]:
age1=[23,51,51,29,34,48,56,23,32,49]
gender1=[0,1,1,1,0,0,1,0,1,0]
BMI1=[1,3,3,1,2,3,2,0,0,2]
outcome=[]
dict={'age1':age1,'gender1':gender1,'BMI1':BMI1}
sim_df=pd.DataFrame(dict)
sim_df

   age1  gender1  BMI1
0    23        0     1
1    51        1     3
2    51        1     3
3    29        1     1
4    34        0     2
5    48        0     3
6    56        1     2
7    23        0     0
8    32        1     0
9    49        0     2

In [ ]:
sim_df.corr()

             age1   gender1      BMI1
age1     1.000000  0.349951  0.808979
gender1  0.349951  1.000000  0.090909
BMI1     0.808979  0.090909  1.000000

In [ ]:
tf.random.set_seed(42)
tens1=tf.random.uniform(shape=[3,3],maxval=3)

In [ ]:
A = scipy.array([[6, 3, 4, 8], [3, 6, 5, 1], [4, 5, 10, 7], [8, 1, 7, 25]])
L=scipy.linalg.cholesky(A,lower=True)
print("A:")
pprint.pprint(A)
pprint.pprint(L)

A:
array([[ 6,  3,  4,  8],
       [ 3,  6,  5,  1],
       [ 4,  5, 10,  7],
       [ 8,  1,  7, 25]])
array([[ 2.44948974,  0.        ,  0.        ,  0.        ],
       [ 1.22474487,  2.12132034,  0.        ,  0.        ],
       [ 1.63299316,  1.41421356,  2.30940108,  0.        ],
       [ 3.26598632, -1.41421356,  1.58771324,  3.13249102]])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: scipy.array is deprecated and will be removed in SciPy 2.0.0, use numpy.array instead
  """Entry point for launching an IPython kernel.

In [ ]:
dtset=pd.read_excel('/content/Sample Data.xlsx')
dtset

,patient_code,Months_in_study,Failure,Relapse,Death,Lost_to_foll,Foll_Mo,age,sex,Residence,...,Fasting,Xpert_mtb_detection_result,rif_resistance_result,Smear_Result,Culture_LJ_Result,Culture_MGIT_Result,Metformin,Relapse_Yr,Death_Yr,Failure_Yr
0,102072,4.69,No,NaN,No,No,4.69,39.345654,Male,Urban,...,234.42,MTB Detected,RIF Resistance Not Detected,Positive,MTB,MTB,Yes,NaN,0.39,0.39
1,300303,5.38,No,No,No,No,2.82,30.000000,Male,Urban,...,95.49,MTB Detected,RIF Resistance Not Detected,Positive,MTB,MTB,NaN,0.12,0.24,0.45
2,300302,6.16,No,No,No,No,4.13,32.000000,Male,Urban,...,84.54,MTB Not Detected,NaN,Negative,No Growth,No Mycobacterial growth,NaN,0.19,0.35,0.52
3,102062,5.90,No,No,No,No,4.07,62.000000,Female,Urban,...,302.03,MTB Detected,RIF Resistance Not Detected,Positive,MTB,MTB,Yes,0.17,0.34,0.50
4,102182,3.11,NaN,NaN,No,No,1.51,54.809035,Male,Urban,...,251.33,MTB Detected,RIF Resistance Not Detected,NaN,MTB,NaN,Yes,NaN,0.13,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
791,100039,15.93,No,No,No,Yes,16.49,40.000000,Male,Urban,...,80.57,MTB Detected,RIF Resistance Not Detected,Positive,MTB,MTB,NaN,1.00,1.38,0.44
792,100034,1.11,No,NaN,No,Yes,1.11,27.000000,Female,Urban,...,88.15,MTB Detected,RIF Resistance Not Detected,Positive,MTB,MTB,NaN,NaN,0.09,0.09
793,100030,17.54,No,No,No,No,17.54,20.000000,Male,Urban,...,76.17,MTB Detected,RIF Resistance Not Detected,Positive,MTB,MTB,NaN,1.14,1.47,0.44
794,100023,0.30,No,NaN,No,Yes,0.00,30.000000,Male,Urban,...,93.21,MTB Detected,RIF Resistance Not Detected,Positive,MTB,MTB,NaN,NaN,0.02,0.02
795,100016,2.07,No,NaN,No,Yes,2.07,50.000000,Male,Urban,...,96.98,MTB Detected,RIF Resistance Not Detected,Positive,MTB,MTB,NaN,NaN,0.17,0.17

In [ ]:
dtset.corr()

,patient_code,Months_in_study,Foll_Mo,age,height,weight,bmi,waist,hip,muac,bp_systolic,bp_diastolic,HBA1C TEST RESULTS,Fasting,Relapse_Yr,Death_Yr,Failure_Yr
patient_code,1.000000,-0.184039,-0.259859,-0.023603,0.099780,-0.028433,-0.076305,-0.162882,-0.142802,-0.069162,-0.020074,-0.019213,-0.021984,-0.064331,-0.284448,-0.268261,0.028269
Months_in_study,-0.184039,1.000000,0.854078,-0.135087,-0.016678,-0.042393,-0.053377,-0.027261,0.046359,-0.004382,-0.048582,-0.038031,-0.148960,-0.089818,0.932450,0.844601,0.615120
Foll_Mo,-0.259859,0.854078,1.000000,-0.125987,-0.041783,-0.098318,-0.087374,-0.052934,0.013478,-0.028423,-0.021187,-0.049688,-0.153442,-0.098706,0.686080,0.999947,0.534146
age,-0.023603,-0.135087,-0.125987,1.000000,-0.116361,0.245705,0.199736,0.416032,0.272249,0.069070,0.305659,0.324028,0.406041,0.332144,-0.034774,-0.131462,-0.023443
height,0.099780,-0.016678,-0.041783,-0.116361,1.000000,0.166603,-0.435753,0.130485,0.087591,0.014170,0.014924,0.088184,-0.055937,-0.052863,-0.047897,-0.069685,-0.037630
weight,-0.028433,-0.042393,-0.098318,0.245705,0.166603,1.000000,0.722188,0.744565,0.702775,0.408520,0.246341,0.279351,0.255499,0.143848,-0.025434,-0.086374,-0.106690
bmi,-0.076305,-0.053377,-0.087374,0.199736,-0.435753,0.722188,1.000000,0.411995,0.387794,0.232242,0.109437,0.125342,0.176065,0.103077,-0.009080,-0.059750,-0.113101
waist,-0.162882,-0.027261,-0.052934,0.416032,0.130485,0.744565,0.411995,1.000000,0.785271,0.309635,0.281123,0.312650,0.347572,0.244514,0.013308,-0.044594,-0.066661
hip,-0.142802,0.046359,0.013478,0.272249,0.087591,0.702775,0.387794,0.785271,1.000000,0.393099,0.274564,0.229051,0.245815,0.143668,0.077464,0.022460,-0.053047
muac,-0.069162,-0.004382,-0.028423,0.069070,0.014170,0.408520,0.232242,0.309635,0.393099,1.000000,0.102960,0.115217,0.105184,0.056952,-0.062250,-0.017482,-0.017760
bp_systolic,-0.020074,-0.048582,-0.021187,0.305659,0.014924,0.246341,0.109437,0.281123,0.274564,0.102960,1.000000,0.647261,0.182931,0.132861,-0.051127,-0.034675,-0.035495
bp_diastolic,-0.019213,-0.038031,-0.049688,0.324028,0.088184,0.279351,0.125342,0.312650,0.229051,0.115217,0.647261,1.000000,0.130088,0.106938,-0.011003,-0.055319,-0.019692
HBA1C TEST RESULTS,-0.021984,-0.148960,-0.153442,0.406041,-0.055937,0.255499,0.176065,0.347572,0.245815,0.105184,0.182931,0.130088,1.000000,0.747653,-0.098684,-0.154372,-0.062202
Fasting,-0.064331,-0.089818,-0.098706,0.332144,-0.052863,0.143848,0.103077,0.244514,0.143668,0.056952,0.132861,0.106938,0.747653,1.000000,0.019667,-0.106219,-0.032753
Relapse_Yr,-0.284448,0.932450,0.686080,-0.034774,-0.047897,-0.025434,-0.009080,0.013308,0.077464,-0.062250,-0.051127,-0.011003,-0.098684,0.019667,1.000000,0.752475,0.157995
Death_Yr,-0.268261,0.844601,0.999947,-0.131462,-0.069685,-0.086374,-0.059750,-0.044594,0.022460,-0.017482,-0.034675,-0.055319,-0.154372,-0.106219,0.752475,1.000000,0.560359
Failure_Yr,0.028269,0.615120,0.534146,-0.023443,-0.037630,-0.106690,-0.113101,-0.066661,-0.053047,-0.017760,-0.035495,-0.019692,-0.062202,-0.032753,0.157995,0.560359,1.000000

In [ ]:
dtset.columns

Index(['patient_code', 'Months_in_study', 'Failure', 'Relapse', 'Death',
       'Lost_to_foll', 'Foll_Mo', 'age', 'sex', 'Residence', 'height',
       'weight', 'bmi', 'smoking', 'marijuana', 'snuff', 'chewing_tob',
       'alcohol', 'bcg_status', 'anemia_status', 'waist', 'hip', 'muac',
       'bp_systolic', 'bp_diastolic', 'tb_sx_cough', 'tb_sx_fever',
       'tb_sx_apetite', 'tb_sx_weight_loss', 'tb_sx_breath',
       'Any_chronic_conditions', 'cavity', 'Fasting Status on Screening 2',
       'HBA1C TEST RESULTS', 'Fasting', 'Xpert_mtb_detection_result',
       'rif_resistance_result', 'Smear_Result', 'Culture_LJ_Result',
       'Culture_MGIT_Result', 'Metformin', 'Relapse_Yr', 'Death_Yr',
       'Failure_Yr'],
      dtype='object')

In [ ]:
dtset['Residence'].value_counts()

Urban    711
Rural     85
Name: Residence, dtype: int64

In [ ]:
filter=dtset['Death']=='Yes'

In [ ]:
r=dtset['Residence'].where(filter)

In [ ]:
r

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
      ...
791    NaN
792    NaN
793    NaN
794    NaN
795    NaN
Name: Residence, Length: 796, dtype: object

In [ ]:
r.value_counts()

Urban    55
Rural     8
Name: Residence, dtype: int64

In [ ]:
cols=['Residence','marijuana','snuff','bcg_status','anemia_status','waist', 'hip', 'muac',
       'bp_systolic', 'bp_diastolic', 'tb_sx_cough', 'tb_sx_fever',
       'tb_sx_apetite', 'tb_sx_weight_loss', 'tb_sx_breath','cavity','Fasting Status on Screening 2',
       'HBA1C TEST RESULTS', 'Fasting','rif_resistance_result','Metformin']

In [ ]:
dtset.head(30)

,patient_code,Months_in_study,Failure,Relapse,Death,Lost_to_foll,Foll_Mo,age,sex,Residence,...,Fasting,Xpert_mtb_detection_result,rif_resistance_result,Smear_Result,Culture_LJ_Result,Culture_MGIT_Result,Metformin,Relapse_Yr,Death_Yr,Failure_Yr
0,102072,4.69,No,NaN,No,No,4.69,39.345654,Male,Urban,...,234.42,MTB Detected,RIF Resistance Not Detected,Positive,MTB,MTB,Yes,NaN,0.39,0.39
1,300303,5.38,No,No,No,No,2.82,30.000000,Male,Urban,...,95.49,MTB Detected,RIF Resistance Not Detected,Positive,MTB,MTB,NaN,0.12,0.24,0.45
2,300302,6.16,No,No,No,No,4.13,32.000000,Male,Urban,...,84.54,MTB Not Detected,NaN,Negative,No Growth,No Mycobacterial growth,NaN,0.19,0.35,0.52
3,102062,5.90,No,No,No,No,4.07,62.000000,Female,Urban,...,302.03,MTB Detected,RIF Resistance Not Detected,Positive,MTB,MTB,Yes,0.17,0.34,0.50
4,102182,3.11,NaN,NaN,No,No,1.51,54.809035,Male,Urban,...,251.33,MTB Detected,RIF Resistance Not Detected,NaN,MTB,NaN,Yes,NaN,0.13,NaN
5,102175,1.90,NaN,NaN,No,No,1.90,57.000000,Male,Urban,...,88.17,MTB Detected,RIF Resistance Not Detected,NaN,MTB,MTB,Yes,NaN,0.16,NaN
6,102174,2.79,NaN,NaN,No,No,1.87,61.744011,Male,Urban,...,230.02,MTB Detected,RIF Resistance Not Detected,NaN,No Growth,No Mycobacterial growth,Yes,NaN,0.16,NaN
7,102153,3.41,NaN,NaN,No,No,1.38,45.000000,Female,Urban,...,203.10,MTB Detected,RIF Resistance Not Detected,Positive,MTB,MTB,No,NaN,0.12,NaN
8,102152,2.95,NaN,NaN,No,No,2.95,78.000000,Male,Urban,...,115.06,MTB Not Detected,NaN,Negative,No Growth,No Mycobacterial growth,Yes,NaN,0.25,NaN
9,102151,4.16,NaN,NaN,No,No,1.97,29.073238,Female,Urban,...,139.68,MTB Detected,RIF Resistance Not Detected,Negative,MTB,MTB,Yes,NaN,0.16,NaN
10,102142,4.72,NaN,NaN,No,No,2.00,45.946612,Male,Rural,...,165.80,MTB Detected,RIF Resistance Not Detected,Positive,MTB,MTB,Yes,NaN,0.17,NaN
11,102137,4.95,NaN,NaN,No,No,3.02,48.021903,Female,Urban,...,89.16,MTB Not Detected,NaN,Negative,No Growth,No Mycobacterial growth,No,NaN,0.25,NaN
12,102132,0.00,NaN,NaN,No,No,0.00,55.000000,Male,Urban,...,211.10,MTB Detected,RIF Resistance Not Detected,Positive,MTB,MTB,No,NaN,0.02,NaN
13,300323,4.36,NaN,NaN,No,No,2.56,32.000000,Female,Rural,...,266.93,MTB Detected,RIF Resistance Not Detected,Positive,MTB,MTB,No,NaN,0.21,NaN
14,102131,4.82,NaN,NaN,No,No,2.95,58.266940,Male,Urban,...,172.98,MTB Detected,RIF Resistance Not Detected,Positive,MTB,MTB,Yes,NaN,0.25,NaN
15,300321,0.79,NaN,NaN,Yes,No,0.79,55.000000,Female,Urban,...,136.91,MTB Detected,RIF Resistance Not Detected,Positive,MTB,MTB,No,NaN,0.07,NaN
16,102128,3.77,NaN,NaN,No,No,3.77,52.000000,Female,Urban,...,66.98,MTB Detected,RIF Resistance Not Detected,Negative,MTB,MTB,Yes,NaN,0.32,NaN
17,300320,4.23,NaN,NaN,No,No,2.39,24.000000,Female,Rural,...,82.14,MTB Detected,RIF Resistance Not Detected,Positive,MTB,MTB,NaN,NaN,0.20,NaN
18,102124,3.51,NaN,NaN,No,No,3.51,36.772074,Male,Urban,...,174.91,MTB Detected,RIF Resistance Not Detected,Positive,MTB,MTB,No,NaN,0.29,NaN
19,300318,4.85,NaN,NaN,No,No,2.79,35.000000,Female,Urban,...,77.64,MTB Detected,RIF Resistance Not Detected,Positive,MTB,MTB,NaN,NaN,0.23,NaN
20,102102,5.11,No,NaN,No,No,4.20,40.000000,Female,Urban,...,288.33,MTB Detected,RIF Resistance Not Detected,Positive,MTB,MTB,Yes,NaN,0.35,0.43
21,102106,3.87,No,NaN,No,No,3.87,44.312115,Male,Urban,...,112.80,MTB Detected,RIF Resistance Not Detected,Positive,MTB,MTB,No,NaN,0.32,0.32
22,300316,4.66,No,NaN,No,No,2.82,65.000000,Male,Urban,...,83.92,MTB Detected,RIF Resistance Not Detected,Positive,No Growth,No Mycobacterial growth,Yes,NaN,0.24,0.39
23,300315,4.52,No,NaN,No,No,2.66,38.000000,Female,Urban,...,67.52,MTB Detected,RIF Resistance Not Detected,Negative,MTB,MTB,NaN,NaN,0.22,0.38
24,300312,5.90,No,No,No,No,3.48,33.000000,Female,Urban,...,90.07,MTB Detected,RIF Resistance Not Detected,Negative,MTB,MTB,NaN,0.16,0.29,0.49
25,300313,4.62,No,NaN,No,No,2.98,29.000000,Male,Rural,...,87.48,MTB Detected,RIF Resistance Not Detected,Negative,MTB,MTB,NaN,NaN,0.25,0.39
26,102096,2.07,No,NaN,No,No,2.07,48.062971,Male,Urban,...,165.09,MTB Detected,RIF Resistance Not Detected,Positive,MTB,MTB,Yes,NaN,0.17,0.17
27,102076,3.84,No,NaN,No,No,4.85,64.511978,Male,Rural,...,390.68,MTB Detected,RIF Resistance Not Detected,Negative,MTB,MTB,Yes,NaN,0.41,0.32
28,102087,3.93,No,NaN,No,No,4.95,60.000000,Male,Urban,...,162.39,MTB Detected,RIF Resistance Not Detected,Positive,MTB,MTB,Yes,NaN,0.41,0.33
29,300309,6.03,No,No,No,No,3.74,50.000000,Female,Urban,...,102.49,MTB Detected,RIF Resistance Not Detected,Positive,MTB,MTB,NaN,0.18,0.31,0.50

In [ ]:
dtset[dtset['Death']=='No'].head(30)

,patient_code,Months_in_study,Failure,Relapse,Death,Lost_to_foll,Foll_Mo,age,sex,Residence,...,Fasting,Xpert_mtb_detection_result,rif_resistance_result,Smear_Result,Culture_LJ_Result,Culture_MGIT_Result,Metformin,Relapse_Yr,Death_Yr,Failure_Yr
0,102072,4.69,No,NaN,No,No,4.69,39.345654,Male,Urban,...,234.42,MTB Detected,RIF Resistance Not Detected,Positive,MTB,MTB,Yes,NaN,0.39,0.39
1,300303,5.38,No,No,No,No,2.82,30.000000,Male,Urban,...,95.49,MTB Detected,RIF Resistance Not Detected,Positive,MTB,MTB,NaN,0.12,0.24,0.45
2,300302,6.16,No,No,No,No,4.13,32.000000,Male,Urban,...,84.54,MTB Not Detected,NaN,Negative,No Growth,No Mycobacterial growth,NaN,0.19,0.35,0.52
3,102062,5.90,No,No,No,No,4.07,62.000000,Female,Urban,...,302.03,MTB Detected,RIF Resistance Not Detected,Positive,MTB,MTB,Yes,0.17,0.34,0.50
4,102182,3.11,NaN,NaN,No,No,1.51,54.809035,Male,Urban,...,251.33,MTB Detected,RIF Resistance Not Detected,NaN,MTB,NaN,Yes,NaN,0.13,NaN
5,102175,1.90,NaN,NaN,No,No,1.90,57.000000,Male,Urban,...,88.17,MTB Detected,RIF Resistance Not Detected,NaN,MTB,MTB,Yes,NaN,0.16,NaN
6,102174,2.79,NaN,NaN,No,No,1.87,61.744011,Male,Urban,...,230.02,MTB Detected,RIF Resistance Not Detected,NaN,No Growth,No Mycobacterial growth,Yes,NaN,0.16,NaN
7,102153,3.41,NaN,NaN,No,No,1.38,45.000000,Female,Urban,...,203.10,MTB Detected,RIF Resistance Not Detected,Positive,MTB,MTB,No,NaN,0.12,NaN
8,102152,2.95,NaN,NaN,No,No,2.95,78.000000,Male,Urban,...,115.06,MTB Not Detected,NaN,Negative,No Growth,No Mycobacterial growth,Yes,NaN,0.25,NaN
9,102151,4.16,NaN,NaN,No,No,1.97,29.073238,Female,Urban,...,139.68,MTB Detected,RIF Resistance Not Detected,Negative,MTB,MTB,Yes,NaN,0.16,NaN
10,102142,4.72,NaN,NaN,No,No,2.00,45.946612,Male,Rural,...,165.80,MTB Detected,RIF Resistance Not Detected,Positive,MTB,MTB,Yes,NaN,0.17,NaN
11,102137,4.95,NaN,NaN,No,No,3.02,48.021903,Female,Urban,...,89.16,MTB Not Detected,NaN,Negative,No Growth,No Mycobacterial growth,No,NaN,0.25,NaN
12,102132,0.00,NaN,NaN,No,No,0.00,55.000000,Male,Urban,...,211.10,MTB Detected,RIF Resistance Not Detected,Positive,MTB,MTB,No,NaN,0.02,NaN
13,300323,4.36,NaN,NaN,No,No,2.56,32.000000,Female,Rural,...,266.93,MTB Detected,RIF Resistance Not Detected,Positive,MTB,MTB,No,NaN,0.21,NaN
14,102131,4.82,NaN,NaN,No,No,2.95,58.266940,Male,Urban,...,172.98,MTB Detected,RIF Resistance Not Detected,Positive,MTB,MTB,Yes,NaN,0.25,NaN
16,102128,3.77,NaN,NaN,No,No,3.77,52.000000,Female,Urban,...,66.98,MTB Detected,RIF Resistance Not Detected,Negative,MTB,MTB,Yes,NaN,0.32,NaN
17,300320,4.23,NaN,NaN,No,No,2.39,24.000000,Female,Rural,...,82.14,MTB Detected,RIF Resistance Not Detected,Positive,MTB,MTB,NaN,NaN,0.20,NaN
18,102124,3.51,NaN,NaN,No,No,3.51,36.772074,Male,Urban,...,174.91,MTB Detected,RIF Resistance Not Detected,Positive,MTB,MTB,No,NaN,0.29,NaN
19,300318,4.85,NaN,NaN,No,No,2.79,35.000000,Female,Urban,...,77.64,MTB Detected,RIF Resistance Not Detected,Positive,MTB,MTB,NaN,NaN,0.23,NaN
20,102102,5.11,No,NaN,No,No,4.20,40.000000,Female,Urban,...,288.33,MTB Detected,RIF Resistance Not Detected,Positive,MTB,MTB,Yes,NaN,0.35,0.43
21,102106,3.87,No,NaN,No,No,3.87,44.312115,Male,Urban,...,112.80,MTB Detected,RIF Resistance Not Detected,Positive,MTB,MTB,No,NaN,0.32,0.32
22,300316,4.66,No,NaN,No,No,2.82,65.000000,Male,Urban,...,83.92,MTB Detected,RIF Resistance Not Detected,Positive,No Growth,No Mycobacterial growth,Yes,NaN,0.24,0.39
23,300315,4.52,No,NaN,No,No,2.66,38.000000,Female,Urban,...,67.52,MTB Detected,RIF Resistance Not Detected,Negative,MTB,MTB,NaN,NaN,0.22,0.38
24,300312,5.90,No,No,No,No,3.48,33.000000,Female,Urban,...,90.07,MTB Detected,RIF Resistance Not Detected,Negative,MTB,MTB,NaN,0.16,0.29,0.49
25,300313,4.62,No,NaN,No,No,2.98,29.000000,Male,Rural,...,87.48,MTB Detected,RIF Resistance Not Detected,Negative,MTB,MTB,NaN,NaN,0.25,0.39
26,102096,2.07,No,NaN,No,No,2.07,48.062971,Male,Urban,...,165.09,MTB Detected,RIF Resistance Not Detected,Positive,MTB,MTB,Yes,NaN,0.17,0.17
27,102076,3.84,No,NaN,No,No,4.85,64.511978,Male,Rural,...,390.68,MTB Detected,RIF Resistance Not Detected,Negative,MTB,MTB,Yes,NaN,0.41,0.32
28,102087,3.93,No,NaN,No,No,4.95,60.000000,Male,Urban,...,162.39,MTB Detected,RIF Resistance Not Detected,Positive,MTB,MTB,Yes,NaN,0.41,0.33
29,300309,6.03,No,No,No,No,3.74,50.000000,Female,Urban,...,102.49,MTB Detected,RIF Resistance Not Detected,Positive,MTB,MTB,NaN,0.18,0.31,0.50
30,300308,4.82,No,NaN,No,No,3.70,54.000000,Male,Rural,...,119.84,MTB Detected,RIF Resistance Not Detected,Positive,MTB,MTB,No,NaN,0.31,0.40

In [ ]:
print(dtset['Failure'].value_counts())
print(dtset['Death'].value_counts())
print(dtset['Relapse'].value_counts())

No     625
Yes     68
Name: Failure, dtype: int64
No     640
Yes     63
Name: Death, dtype: int64
No     556
Yes     45
Name: Relapse, dtype: int64

In [ ]:
print(dtset['Failure_Yr'].isna().sum())
print(dtset['Death_Yr'].isna().sum())
print(dtset['Relapse_Yr'].isna().sum())

103
93
195

In [ ]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [ ]:
dtset['Death_N']=le.fit_transform(dtset['Death'])
dtset['Failure_N']=le.fit_transform(dtset['Failure'])
dtset['Relapse_N']=le.fit_transform(dtset['Relapse'])
dtset['Smoking_N']=le.fit_transform(dtset['smoking'])

In [ ]:
dtset.head()

,patient_code,Months_in_study,Failure,Relapse,Death,Lost_to_foll,Foll_Mo,age,sex,Residence,...,Culture_LJ_Result,Culture_MGIT_Result,Metformin,Relapse_Yr,Death_Yr,Failure_Yr,Death_N,Failure_N,Relapse_N,Smoking_N
0,102072,4.69,No,NaN,No,No,4.69,39.345654,Male,Urban,...,MTB,MTB,Yes,NaN,0.39,0.39,0,0,2,1
1,300303,5.38,No,No,No,No,2.82,30.000000,Male,Urban,...,MTB,MTB,NaN,0.12,0.24,0.45,0,0,0,0
2,300302,6.16,No,No,No,No,4.13,32.000000,Male,Urban,...,No Growth,No Mycobacterial growth,NaN,0.19,0.35,0.52,0,0,0,0
3,102062,5.90,No,No,No,No,4.07,62.000000,Female,Urban,...,MTB,MTB,Yes,0.17,0.34,0.50,0,0,0,0
4,102182,3.11,NaN,NaN,No,No,1.51,54.809035,Male,Urban,...,MTB,NaN,Yes,NaN,0.13,NaN,0,2,2,0

In [ ]:
dtset.corr()

,patient_code,Months_in_study,Foll_Mo,age,height,weight,bmi,waist,hip,muac,...,bp_diastolic,HBA1C TEST RESULTS,Fasting,Relapse_Yr,Death_Yr,Failure_Yr,Death_N,Failure_N,Relapse_N,Smoking_N
patient_code,1.000000,-0.184039,-0.259859,-0.023603,0.099780,-0.028433,-0.076305,-0.162882,-0.142802,-0.069162,...,-0.019213,-0.021984,-0.064331,-0.284448,-0.268261,0.028269,-0.058113,-0.044961,-0.028457,0.023162
Months_in_study,-0.184039,1.000000,0.854078,-0.135087,-0.016678,-0.042393,-0.053377,-0.027261,0.046359,-0.004382,...,-0.038031,-0.148960,-0.089818,0.932450,0.844601,0.615120,0.016356,-0.202412,-0.537959,-0.066367
Foll_Mo,-0.259859,0.854078,1.000000,-0.125987,-0.041783,-0.098318,-0.087374,-0.052934,0.013478,-0.028423,...,-0.049688,-0.153442,-0.098706,0.686080,0.999947,0.534146,0.088438,-0.099252,-0.425016,-0.059563
age,-0.023603,-0.135087,-0.125987,1.000000,-0.116361,0.245705,0.199736,0.416032,0.272249,0.069070,...,0.324028,0.406041,0.332144,-0.034774,-0.131462,-0.023443,0.007577,0.109578,0.112605,0.125054
height,0.099780,-0.016678,-0.041783,-0.116361,1.000000,0.166603,-0.435753,0.130485,0.087591,0.014170,...,0.088184,-0.055937,-0.052863,-0.047897,-0.069685,-0.037630,-0.018561,-0.051398,-0.004178,0.192464
weight,-0.028433,-0.042393,-0.098318,0.245705,0.166603,1.000000,0.722188,0.744565,0.702775,0.408520,...,0.279351,0.255499,0.143848,-0.025434,-0.086374,-0.106690,-0.065326,-0.066189,-0.010298,0.106326
bmi,-0.076305,-0.053377,-0.087374,0.199736,-0.435753,0.722188,1.000000,0.411995,0.387794,0.232242,...,0.125342,0.176065,0.103077,-0.009080,-0.059750,-0.113101,-0.009473,0.010656,0.027093,0.029035
waist,-0.162882,-0.027261,-0.052934,0.416032,0.130485,0.744565,0.411995,1.000000,0.785271,0.309635,...,0.312650,0.347572,0.244514,0.013308,-0.044594,-0.066661,-0.049513,-0.044329,0.003662,0.088731
hip,-0.142802,0.046359,0.013478,0.272249,0.087591,0.702775,0.387794,0.785271,1.000000,0.393099,...,0.229051,0.245815,0.143668,0.077464,0.022460,-0.053047,-0.065547,-0.076099,-0.028888,-0.000881
muac,-0.069162,-0.004382,-0.028423,0.069070,0.014170,0.408520,0.232242,0.309635,0.393099,1.000000,...,0.115217,0.105184,0.056952,-0.062250,-0.017482,-0.017760,-0.093929,-0.115095,-0.092356,-0.025795
bp_systolic,-0.020074,-0.048582,-0.021187,0.305659,0.014924,0.246341,0.109437,0.281123,0.274564,0.102960,...,0.647261,0.182931,0.132861,-0.051127,-0.034675,-0.035495,0.008936,0.043700,0.047315,0.047990
bp_diastolic,-0.019213,-0.038031,-0.049688,0.324028,0.088184,0.279351,0.125342,0.312650,0.229051,0.115217,...,1.000000,0.130088,0.106938,-0.011003,-0.055319,-0.019692,-0.002219,0.009348,0.035927,0.068491
HBA1C TEST RESULTS,-0.021984,-0.148960,-0.153442,0.406041,-0.055937,0.255499,0.176065,0.347572,0.245815,0.105184,...,0.130088,1.000000,0.747653,-0.098684,-0.154372,-0.062202,-0.072923,-0.011363,0.058681,0.005580
Fasting,-0.064331,-0.089818,-0.098706,0.332144,-0.052863,0.143848,0.103077,0.244514,0.143668,0.056952,...,0.106938,0.747653,1.000000,0.019667,-0.106219,-0.032753,-0.031432,0.033800,0.087963,-0.015746
Relapse_Yr,-0.284448,0.932450,0.686080,-0.034774,-0.047897,-0.025434,-0.009080,0.013308,0.077464,-0.062250,...,-0.011003,-0.098684,0.019667,1.000000,0.752475,0.157995,-0.227051,-0.224975,-0.224975,-0.103306
Death_Yr,-0.268261,0.844601,0.999947,-0.131462,-0.069685,-0.086374,-0.059750,-0.044594,0.022460,-0.017482,...,-0.055319,-0.154372,-0.106219,0.752475,1.000000,0.560359,-0.168441,-0.286866,-0.577140,-0.063176
Failure_Yr,0.028269,0.615120,0.534146,-0.023443,-0.037630,-0.106690,-0.113101,-0.066661,-0.053047,-0.017760,...,-0.019692,-0.062202,-0.032753,0.157995,0.560359,1.000000,0.030373,0.033302,-0.609081,-0.005454
Death_N,-0.058113,0.016356,0.088438,0.007577,-0.018561,-0.065326,-0.009473,-0.049513,-0.065547,-0.093929,...,-0.002219,-0.072923,-0.031432,-0.227051,-0.168441,0.030373,1.000000,0.792972,0.598150,0.057928
Failure_N,-0.044961,-0.202412,-0.099252,0.109578,-0.051398,-0.066189,0.010656,-0.044329,-0.076099,-0.115095,...,0.009348,-0.011363,0.033800,-0.224975,-0.286866,0.033302,0.792972,1.000000,0.647716,0.066304
Relapse_N,-0.028457,-0.537959,-0.425016,0.112605,-0.004178,-0.010298,0.027093,0.003662,-0.028888,-0.092356,...,0.035927,0.058681,0.087963,-0.224975,-0.577140,-0.609081,0.598150,0.647716,1.000000,0.037503
Smoking_N,0.023162,-0.066367,-0.059563,0.125054,0.192464,0.106326,0.029035,0.088731,-0.000881,-0.025795,...,0.068491,0.005580,-0.015746,-0.103306,-0.063176,-0.005454,0.057928,0.066304,0.037503,1.000000

In [ ]:
df = dtset.corr()
df.iloc[:,6:]

,bmi,waist,hip,muac,bp_systolic,bp_diastolic,HBA1C TEST RESULTS,Fasting,Relapse_Yr,Death_Yr,Failure_Yr,Death_N,Failure_N,Relapse_N,Smoking_N
patient_code,-0.076305,-0.162882,-0.142802,-0.069162,-0.020074,-0.019213,-0.021984,-0.064331,-0.284448,-0.268261,0.028269,-0.058113,-0.044961,-0.028457,0.023162
Months_in_study,-0.053377,-0.027261,0.046359,-0.004382,-0.048582,-0.038031,-0.148960,-0.089818,0.932450,0.844601,0.615120,0.016356,-0.202412,-0.537959,-0.066367
Foll_Mo,-0.087374,-0.052934,0.013478,-0.028423,-0.021187,-0.049688,-0.153442,-0.098706,0.686080,0.999947,0.534146,0.088438,-0.099252,-0.425016,-0.059563
age,0.199736,0.416032,0.272249,0.069070,0.305659,0.324028,0.406041,0.332144,-0.034774,-0.131462,-0.023443,0.007577,0.109578,0.112605,0.125054
height,-0.435753,0.130485,0.087591,0.014170,0.014924,0.088184,-0.055937,-0.052863,-0.047897,-0.069685,-0.037630,-0.018561,-0.051398,-0.004178,0.192464
weight,0.722188,0.744565,0.702775,0.408520,0.246341,0.279351,0.255499,0.143848,-0.025434,-0.086374,-0.106690,-0.065326,-0.066189,-0.010298,0.106326
bmi,1.000000,0.411995,0.387794,0.232242,0.109437,0.125342,0.176065,0.103077,-0.009080,-0.059750,-0.113101,-0.009473,0.010656,0.027093,0.029035
waist,0.411995,1.000000,0.785271,0.309635,0.281123,0.312650,0.347572,0.244514,0.013308,-0.044594,-0.066661,-0.049513,-0.044329,0.003662,0.088731
hip,0.387794,0.785271,1.000000,0.393099,0.274564,0.229051,0.245815,0.143668,0.077464,0.022460,-0.053047,-0.065547,-0.076099,-0.028888,-0.000881
muac,0.232242,0.309635,0.393099,1.000000,0.102960,0.115217,0.105184,0.056952,-0.062250,-0.017482,-0.017760,-0.093929,-0.115095,-0.092356,-0.025795
bp_systolic,0.109437,0.281123,0.274564,0.102960,1.000000,0.647261,0.182931,0.132861,-0.051127,-0.034675,-0.035495,0.008936,0.043700,0.047315,0.047990
bp_diastolic,0.125342,0.312650,0.229051,0.115217,0.647261,1.000000,0.130088,0.106938,-0.011003,-0.055319,-0.019692,-0.002219,0.009348,0.035927,0.068491
HBA1C TEST RESULTS,0.176065,0.347572,0.245815,0.105184,0.182931,0.130088,1.000000,0.747653,-0.098684,-0.154372,-0.062202,-0.072923,-0.011363,0.058681,0.005580
Fasting,0.103077,0.244514,0.143668,0.056952,0.132861,0.106938,0.747653,1.000000,0.019667,-0.106219,-0.032753,-0.031432,0.033800,0.087963,-0.015746
Relapse_Yr,-0.009080,0.013308,0.077464,-0.062250,-0.051127,-0.011003,-0.098684,0.019667,1.000000,0.752475,0.157995,-0.227051,-0.224975,-0.224975,-0.103306
Death_Yr,-0.059750,-0.044594,0.022460,-0.017482,-0.034675,-0.055319,-0.154372,-0.106219,0.752475,1.000000,0.560359,-0.168441,-0.286866,-0.577140,-0.063176
Failure_Yr,-0.113101,-0.066661,-0.053047,-0.017760,-0.035495,-0.019692,-0.062202,-0.032753,0.157995,0.560359,1.000000,0.030373,0.033302,-0.609081,-0.005454
Death_N,-0.009473,-0.049513,-0.065547,-0.093929,0.008936,-0.002219,-0.072923,-0.031432,-0.227051,-0.168441,0.030373,1.000000,0.792972,0.598150,0.057928
Failure_N,0.010656,-0.044329,-0.076099,-0.115095,0.043700,0.009348,-0.011363,0.033800,-0.224975,-0.286866,0.033302,0.792972,1.000000,0.647716,0.066304
Relapse_N,0.027093,0.003662,-0.028888,-0.092356,0.047315,0.035927,0.058681,0.087963,-0.224975,-0.577140,-0.609081,0.598150,0.647716,1.000000,0.037503
Smoking_N,0.029035,0.088731,-0.000881,-0.025795,0.047990,0.068491,0.005580,-0.015746,-0.103306,-0.063176,-0.005454,0.057928,0.066304,0.037503,1.000000

In [ ]:
#Displays no clear correlation between death,relapse,failure and death_yr,relapse_yr and failure_yr respectively.

In [ ]:
#dropping columns and keeping specific features
cols=['Residence','marijuana','snuff','bcg_status','anemia_status','waist', 'hip', 'muac',
       'bp_systolic', 'bp_diastolic', 'tb_sx_cough', 'tb_sx_fever',
       'tb_sx_apetite', 'tb_sx_weight_loss', 'tb_sx_breath','cavity','Fasting Status on Screening 2',
       'HBA1C TEST RESULTS', 'Fasting','rif_resistance_result','Metformin']

In [ ]:
dtset1=dtset.drop(cols,axis=1)
dtset1.columns

Index(['patient_code', 'Months_in_study', 'Failure', 'Relapse', 'Death',
       'Lost_to_foll', 'Foll_Mo', 'age', 'sex', 'height', 'weight', 'bmi',
       'smoking', 'chewing_tob', 'alcohol', 'Any_chronic_conditions',
       'Xpert_mtb_detection_result', 'Smear_Result', 'Culture_LJ_Result',
       'Culture_MGIT_Result', 'Relapse_Yr', 'Death_Yr', 'Failure_Yr',
       'Death_N', 'Failure_N', 'Relapse_N', 'Smoking_N'],
      dtype='object')

In [ ]:
dtset2=dtset1.drop(['height', 'weight','smoking', 'chewing_tob', 'alcohol', 'Any_chronic_conditions',],axis=1)
dtset2.head()

,patient_code,Months_in_study,Failure,Relapse,Death,Lost_to_foll,Foll_Mo,age,sex,bmi,...,Smear_Result,Culture_LJ_Result,Culture_MGIT_Result,Relapse_Yr,Death_Yr,Failure_Yr,Death_N,Failure_N,Relapse_N,Smoking_N
0,102072,4.69,No,NaN,No,No,4.69,39.345654,Male,23,...,Positive,MTB,MTB,NaN,0.39,0.39,0,0,2,1
1,300303,5.38,No,No,No,No,2.82,30.000000,Male,16,...,Positive,MTB,MTB,0.12,0.24,0.45,0,0,0,0
2,300302,6.16,No,No,No,No,4.13,32.000000,Male,20,...,Negative,No Growth,No Mycobacterial growth,0.19,0.35,0.52,0,0,0,0
3,102062,5.90,No,No,No,No,4.07,62.000000,Female,21,...,Positive,MTB,MTB,0.17,0.34,0.50,0,0,0,0
4,102182,3.11,NaN,NaN,No,No,1.51,54.809035,Male,24,...,NaN,MTB,NaN,NaN,0.13,NaN,0,2,2,0

In [ ]:
dtset2.corr()

,patient_code,Months_in_study,Foll_Mo,age,bmi,Relapse_Yr,Death_Yr,Failure_Yr,Death_N,Failure_N,Relapse_N,Smoking_N
patient_code,1.000000,-0.184039,-0.259859,-0.023603,-0.076305,-0.284448,-0.268261,0.028269,-0.058113,-0.044961,-0.028457,0.023162
Months_in_study,-0.184039,1.000000,0.854078,-0.135087,-0.053377,0.932450,0.844601,0.615120,0.016356,-0.202412,-0.537959,-0.066367
Foll_Mo,-0.259859,0.854078,1.000000,-0.125987,-0.087374,0.686080,0.999947,0.534146,0.088438,-0.099252,-0.425016,-0.059563
age,-0.023603,-0.135087,-0.125987,1.000000,0.199736,-0.034774,-0.131462,-0.023443,0.007577,0.109578,0.112605,0.125054
bmi,-0.076305,-0.053377,-0.087374,0.199736,1.000000,-0.009080,-0.059750,-0.113101,-0.009473,0.010656,0.027093,0.029035
Relapse_Yr,-0.284448,0.932450,0.686080,-0.034774,-0.009080,1.000000,0.752475,0.157995,-0.227051,-0.224975,-0.224975,-0.103306
Death_Yr,-0.268261,0.844601,0.999947,-0.131462,-0.059750,0.752475,1.000000,0.560359,-0.168441,-0.286866,-0.577140,-0.063176
Failure_Yr,0.028269,0.615120,0.534146,-0.023443,-0.113101,0.157995,0.560359,1.000000,0.030373,0.033302,-0.609081,-0.005454
Death_N,-0.058113,0.016356,0.088438,0.007577,-0.009473,-0.227051,-0.168441,0.030373,1.000000,0.792972,0.598150,0.057928
Failure_N,-0.044961,-0.202412,-0.099252,0.109578,0.010656,-0.224975,-0.286866,0.033302,0.792972,1.000000,0.647716,0.066304
Relapse_N,-0.028457,-0.537959,-0.425016,0.112605,0.027093,-0.224975,-0.577140,-0.609081,0.598150,0.647716,1.000000,0.037503
Smoking_N,0.023162,-0.066367,-0.059563,0.125054,0.029035,-0.103306,-0.063176,-0.005454,0.057928,0.066304,0.037503,1.000000

In [ ]:
deaths=['Failure_N','Failure_Yr','Relapse_N','Relapse_Yr','Death_N','Death_Yr']
death1=dtset2[deaths]
death1.head(40)

    Failure_N  Failure_Yr  Relapse_N  Relapse_Yr  Death_N  Death_Yr
0           0        0.39          2         NaN        0      0.39
1           0        0.45          0        0.12        0      0.24
2           0        0.52          0        0.19        0      0.35
3           0        0.50          0        0.17        0      0.34
4           2         NaN          2         NaN        0      0.13
5           2         NaN          2         NaN        0      0.16
6           2         NaN          2         NaN        0      0.16
7           2         NaN          2         NaN        0      0.12
8           2         NaN          2         NaN        0      0.25
9           2         NaN          2         NaN        0      0.16
10          2         NaN          2         NaN        0      0.17
11          2         NaN          2         NaN        0      0.25
12          2         NaN          2         NaN        0      0.02
13          2         NaN          2         NaN        0      0.21
14          2         NaN          2         NaN        0      0.25
15          2         NaN          2         NaN        1      0.07
16          2         NaN          2         NaN        0      0.32
17          2         NaN          2         NaN        0      0.20
18          2         NaN          2         NaN        0      0.29
19          2         NaN          2         NaN        0      0.23
20          0        0.43          2         NaN        0      0.35
21          0        0.32          2         NaN        0      0.32
22          0        0.39          2         NaN        0      0.24
23          0        0.38          2         NaN        0      0.22
24          0        0.49          0        0.16        0      0.29
25          0        0.39          2         NaN        0      0.25
26          0        0.17          2         NaN        0      0.17
27          0        0.32          2         NaN        0      0.41
28          0        0.33          2         NaN        0      0.41
29          0        0.50          0        0.18        0      0.31
30          0        0.40          2         NaN        0      0.31
31          0        0.21          2         NaN        0      0.21
32          0        0.25          2         NaN        0      0.25
33          0        0.12          2         NaN        0      0.12
34          0        0.52          0        0.19        0      0.38
35          1        0.42          2         NaN        2       NaN
36          0        0.15          2         NaN        0      0.15
37          0        0.60          0        0.27        0      0.37
38          2         NaN          2         NaN        1      0.07
39          0        0.41          2         NaN        0      0.41

In [ ]:
death1.corr()

            Failure_N  Failure_Yr  Relapse_N  Relapse_Yr   Death_N  Death_Yr
Failure_N    1.000000    0.033302   0.647716   -0.224975  0.792972 -0.286866
Failure_Yr   0.033302    1.000000  -0.609081    0.157995  0.030373  0.560359
Relapse_N    0.647716   -0.609081   1.000000   -0.224975  0.598150 -0.577140
Relapse_Yr  -0.224975    0.157995  -0.224975    1.000000 -0.227051  0.752475
Death_N      0.792972    0.030373   0.598150   -0.227051  1.000000 -0.168441
Death_Yr    -0.286866    0.560359  -0.577140    0.752475 -0.168441  1.000000

In [ ]:
death1['Death_Yr']

0      0.39
1      0.24
2      0.35
3      0.34
4      0.13
       ...
791    1.38
792    0.09
793    1.47
794    0.02
795    0.17
Name: Death_Yr, Length: 796, dtype: float64

In [ ]:
dtset2.columns
#the features that we want are for a population of N=1000 1.Age 2.Gender 3.BMI
#4.Education 5.Smear Culture,Xpert Mtb and clinical tb
#6.Unfavourable treatment outcomes(Death,Recurrence and Failure)
#40 percent of the 1000 will have yes in alcoholicism

Index(['patient_code', 'Months_in_study', 'Failure', 'Relapse', 'Death',
       'Lost_to_foll', 'Foll_Mo', 'age', 'sex', 'bmi',
       'Xpert_mtb_detection_result', 'Smear_Result', 'Culture_LJ_Result',
       'Culture_MGIT_Result', 'Relapse_Yr', 'Death_Yr', 'Failure_Yr',
       'Death_N', 'Failure_N', 'Relapse_N', 'Smoking_N'],
      dtype='object')

In [ ]:
dtset2=dtset2.replace('MTB Not Detected ','MTB Not Detected')

In [ ]:
dtset2['xpert_n']=le.fit_transform(dtset2['Xpert_mtb_detection_result'])
dtset2['smear_n']=le.fit_transform(dtset2['Smear_Result'])
dtset2['cultureLJ_n']=le.fit_transform(dtset2['Culture_LJ_Result'])
dtset2['culture_Mgit_n']=le.fit_transform(dtset2['Culture_MGIT_Result'])

In [ ]:
print(dtset2['Xpert_mtb_detection_result'].value_counts())
print(dtset2['Smear_Result'].value_counts())
print(dtset2['Culture_LJ_Result'].value_counts())
print(dtset2['Culture_MGIT_Result'].value_counts())

MTB Detected        730
MTB Not Detected     65
Error                 1
Name: Xpert_mtb_detection_result, dtype: int64
Positive    598
Negative    192
Name: Smear_Result, dtype: int64
MTB              586
No Growth        194
Contamination     13
NTM                1
Name: Culture_LJ_Result, dtype: int64
MTB                        713
No Mycobacterial growth     76
Contamination                2
NTM                          1
Name: Culture_MGIT_Result, dtype: int64

In [ ]:
print(dtset2[dtset2['Culture_LJ_Result']=="NTM"].index.values)

[741]

In [ ]:
dtset2.head()

,patient_code,Months_in_study,Failure,Relapse,Death,Lost_to_foll,Foll_Mo,age,sex,bmi,...,Death_Yr,Failure_Yr,Death_N,Failure_N,Relapse_N,Smoking_N,xpert_n,smear_n,cultureLJ_n,culture_Mgit_n
0,102072,4.69,No,NaN,No,No,4.69,39.345654,Male,23,...,0.39,0.39,0,0,2,1,1,1,1,1
1,300303,5.38,No,No,No,No,2.82,30.000000,Male,16,...,0.24,0.45,0,0,0,0,1,1,1,1
2,300302,6.16,No,No,No,No,4.13,32.000000,Male,20,...,0.35,0.52,0,0,0,0,2,0,3,3
3,102062,5.90,No,No,No,No,4.07,62.000000,Female,21,...,0.34,0.50,0,0,0,0,1,1,1,1
4,102182,3.11,NaN,NaN,No,No,1.51,54.809035,Male,24,...,0.13,NaN,0,2,2,0,1,2,1,4

In [ ]:
anova_cols=['Xpert_mtb_detection_result','Death','age']

In [ ]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [ ]:
model = ols('age ~ C(Xpert_mtb_detection_result) + C(Death) +\
C(Xpert_mtb_detection_result):C(Death)',
            data=dtset2[anova_cols]).fit()
result = sm.stats.anova_lm(model, type=2)

In [ ]:
result

,df,sum_sq,mean_sq,F,PR(>F)
C(Xpert_mtb_detection_result),2.0,1612.144141,806.072071,4.160112,0.015994
C(Death),1.0,2755.735107,2755.735107,14.222261,0.000176
C(Xpert_mtb_detection_result):C(Death),2.0,420.343362,210.171681,1.084689,0.338576
Residual,698.0,135245.947343,193.762102,NaN,NaN

In [ ]:
df['intervention1']=df['alcoholic'].apply(lambda x:(x==1 and 0 ))
df['intervention2']=df['intervention'].apply(lambda x:(x!=False and np.random.choice(2,1,p=[0.5,0.5])))

KeyError: ignored